body {
    font-family: Arial sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

ul {
    list-style: square inside;
}

ol li {
    list-style: trad-chinese-informal inside;
}

header > img {
    width: 100px;
}